{
  "presets": [
    ["es2015", { "modules": false, "loose": true }],
    "react",
    "stage-0"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./src/js"],
      "alias": {
        "components": "./components",
        "containers": "./containers",
        "state": "./state",
        "util": "./util"
      }
    }]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "production": {
      "plugins": [
        "transform-react-inline-elements",
        "transform-react-constant-elements"
      ]
    }
  }
}
