{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "rules": {
    "consistent-return": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-console": 1,
    "no-param-reassign": 0,
    "no-plusplus": 0,
    "no-restricted-globals": 1,
    "react/destructuring-assignment": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "webpack.config.prod.js"
      }
    }
  }
}
