* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Inconsolata, sans-serif;
	background: #f0f0f0;
}

input {
	font: 16px Inconsolata, sans-serif;
	border: none;
	border-top: 1px solid #DDD;
	outline: none;
}

p {
	line-height: 1.5;
}

.tablist {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: 200px;
	padding: 15px;
	overflow: auto;
	background: #272626;
	color: #FFF;
}

.tablist p {
	cursor: pointer;
}

.tablist p:hover {
}

.chat-title-bar {
	position: fixed;
	left: 200px;
	top: 0;
	right: 0;
	height: 50px;
	padding: 0 15px;
	line-height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: 1px solid #DDD;
}

.chat-title {
	font-size: 24px;
}

.messagebox {
	position: fixed;
	left: 200px;
	top: 50px;
	bottom: 50px;
	right: 200px;
	padding: 15px;
	overflow: auto;
	z-index: 1;
}

.message {

}

.message-info {
	color: #666;
}

.message-input-wrap {
	position: fixed;
	left: 200px;
	bottom: 0px;
	right: 0;
	height: 50px;
	z-index: 1;
}

.message-input {
	width: 100%;
	height: 100%;
	padding: 15px;
}

.userlist {
	position: fixed;
	top: 50px;
	bottom: 50px;
	right: 0;
	width: 200px;
	padding: 15px;
	overflow: auto;
	border-left: 1px solid #DDD;
}