@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'),
    url(/font/Montserrat-Regular.woff2) format('woff2'),
    url(/font/Montserrat-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'),
    url(/font/Montserrat-Bold.woff2) format('woff2'),
    url(/font/Montserrat-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Mono'), local('RobotoMono-Regular'),
    url(/font/RobotoMono-Regular.woff2) format('woff2'),
    url(/font/RobotoMono-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Mono Bold'), local('RobotoMono-Bold'),
    url(/font/RobotoMono-Bold.woff2) format('woff2'),
    url(/font/RobotoMono-Bold.woff) format('woff');
}
